<div class="help_tip alert alert-info alert-help" data-tip-identifier="<%= identifier %>">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h3 class='title'><%= title %></h3>
  <p><%= body %></p>
</div>