<div class="modal hide" id="help-modal">
  <div class="modal-header">
    <h3><%= title || 'Help' %></h3>
  </div>
  <div class="modal-body">
    <%= body %>
  </div>
  <div class="modal-footer">
    <%= footer || link_to('Close', '#', :class => 'btn', 'data-dismiss' => 'modal') %>
  </div>
</div>
