<div class="help_tip alert alert-info alert-help" data-tip-controller="<%= params[:controller] %>" data-tip-action="<%= params[:action] %>">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h3 class='title'><%= title %></h3>
  <p><%= body %></p>
</div>